:root{
    --dark-color: #19283f;
    --green-color: #33d1cc;
    --red-color: #ff3150;
    --yellow-color: #ffc400;
    --section-color: #eff7fa;
    --primary-color: #ecad29;
    --text-colorr: #FFFFFFDD;

}
body {
    margin: 0;
    /* color: var(--text-colorr); */
    position: relative;

    font-family: "Inter", sans-serif;
  }
/* start main classes */
.fs1
{
    font-size: 3.5rem;
}
.extraLine
{
    line-height: 4.25rem;
}
.h300
{
    height: 300px;
}
.text-justify
{
    text-align: justify
}
.pl-3
{
 padding-left: 20px;
}
.pr-3
{
 padding-right: 20px;
}
/* end main classes */
.landing
{
    background-image: url(/imags/1.png);
    background-size: cover;
    min-height: calc(100vh - 1px);
}


/* start section 3 */
.main-blockquote
{
    border-inline-end:.25rem solid #6750a4;
    border-inline-start: none;
}
/* end section 3 */

/* start section 4 */
.section-4
{
    background-image: url(/imags/img-6.png);
    background-size: cover;
    min-height: calc(100vh - 75px);

}
.section-4 .sha
{
    width: 100%;
    min-height: calc(100vh - 75px);

}
/* end section 4 */
/* start footer */
.footer {
    background-color: var(--dark-color);
}
.footer .copyright > span{
    color: var(--green-color);
}
.footer .copyright div span{
    color: var(--yellow-color);
}
.footer .facebook{
    background-color: #1877f2;
}
.footer .x{
    background-color: #14171a;
}
.footer .linkedin{
    background-color: #004182;
}
.footer .instagram{
    background-color: #c13584;
}
/* end footer */

/* start section 7 */
.section-7 h1
{
    background-color: #ffff00;
    color: #0563c1;
}
/* end section 7 */


/* start home page */

/* start slider */
.slider-images
{
    min-height: calc(100vh - 7px);
}
.slider-button
{
    block-size: auto;
}
/* end slider */

/* start map section */

.leaflet-container {
    height: 400px;
    width: 600px;
    max-width: 100%;
    max-height: 100%;
}
/* end map section */


/* end home page */

/* start category show page*/
.b-border{

    border-bottom: 2px solid black;
}
.category-title
{
    font-size: 14px;
}
.activ-category
{
    background-color: #33d1cc;
    padding: 10px;
    border-radius: 7px;
}
.activ-category:hover
{
    background-color:  var(--green-color);
}
/* end category show page*/

/* start langing section */
.card {
    position: absolute;
    left: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    box-shadow: 6px 6px 10px 2px rgba(0, 0, 0, 0.6);
  }

  #btn {
    position: absolute;
    top: 690px;
    left: 16px;
    z-index: 99;
  }

  .card-content {
    position: absolute;
    left: 0;
    top: 0;
    color: var(--text-colorr);

    padding-left: 16px;
  }

  .content-place {
    margin-top: 6px;
    font-size: 13px;
    font-weight: 500;
  }
  .content-place {
    font-weight: 500;
  }

  .content-title-1,
  .content-title-2 {
    font-weight: 600;
    font-size: 20px;
    font-family: "Oswald", sans-serif;
  }

  .content-start {
    width: 30px;
    height: 5px;
    border-radius: 99px;
    background-color: var(--text-colorr);
  }

  .details {
    z-index: 22;
    position: absolute;
    top: 240px;
    left: 60px;

    .place-box {
      height: 46px;

      overflow: hidden;
      .text {
        padding-top: 16px;
        font-size: 20px;

        &:before {
          top: 0;
          left: 0;
          position: absolute;
          content: "";
          width: 30px;
          height: 4px;
          border-radius: 99px;
          background-color: white;
        }
      }
    }

    .title-1,
    .title-2 {
      font-weight: 600;
      font-size: 72px;
      font-family: "Oswald", sans-serif;
    }
    .title-box-1,
    .title-box-2 {
      margin-top: 22px;
      height: 100px;
      /* overflow: hidden; */
       /* background-color: blue; */
    }
    > .desc {
      margin-top: 16px;
      width: 500px;
    }
    > .cta {
      width: 500px;
      margin-top: 24px;
      display: flex;
      align-items: center;
      > .bookmark {
        border: none;
        background-color: var(--primary-color);
        width: 36px;
        height: 36px;
        border-radius: 99px;
        color: white;
        display: grid;
        place-items: center;
        svg {
          width: 20px;
          height: 20px;
        }
      }
      > .discover {
        border: 1px solid #ffffff;
        background-color: transparent;
        height: 36px;
        border-radius: 99px;
        color: #ffffff;
        padding: 4px 24px;
        font-size: 12px;
        margin-left: 16px;
        text-transform: uppercase;
      }
    }
  }

  nav {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 50;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 36px;
    font-weight: 500;
    svg {
      width: 20px;
      height: 20px;
    }
    .svg-container {
      width: 20px;
      height: 20px;
    }

    > div {
      display: inline-flex;
      align-items: center;
      text-transform: uppercase;
      font-size: 14px;
      &:first-child {
        gap: 10px;
      }
      &:last-child {
        gap: 24px;

        > .active {
          position: relative;
          &:after {
            bottom: -8px;
            left: 0;
            right: 0;
            position: absolute;
            content: "";
            height: 3px;
            border-radius: 99px;
            background-color: var(--primary-color);
          }
        }
      }
    }
  }
  .indicator {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 5px;
    z-index: 60;
    background-color: var(--primary-color);
  }

  .pagination {
    position: absolute;
    left: 0px;
    top: 0px;
    display: inline-flex;

    > .arrow {
      z-index: 60;
      width: 50px;
      height: 50px;
      border-radius: 999px;
      border: 2px solid #ffffff55;
      display: grid;
      place-items: center;
      &:nth-child(2){
        margin-left: 20px;
      }
      svg {
        width: 24px;
        height: 24px;
        stroke-width: 2;
        color: #ffffff99;
      }
    }

    .progress-sub-container{
      margin-left: 24px;
      z-index: 60;
      width: 500px;
      height: 50px;
      display: flex;
      align-items: center;
      .progress-sub-background{
        width: 500px;
        height: 3px;
        background-color: #ffffff33;
        .progress-sub-foreground{
        height: 3px;
        background-color: var(--primary-color);
        }
      }
    }

    .slide-numbers{
      width: 50px;
      height: 50px;
      overflow: hidden;
    background-color: #111111;
      z-index: 60;
      position: relative;

      .item{
        width: 50px;
        height: 50px;
        position: absolute;
        background: rgb(31, 31, 41);
        color: white;
        top: 0;
        left: 0;
        display: grid;
        place-items: center;
        font-size: 32px;
        font-weight: bold;
      }
    }
  }


  .cover{
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    z-index: 100;
  }
/* end langing section */
